{% extends 'base.html' %}
{% load static %}

{% block title %}Контакты | ProChipRnD{% endblock %}

{% block content %}
    <section>
        <h1>Свяжитесь с нами</h1>
        <p>Готовы помочь вам раскрыть потенциал вашего авто!</p>
    </section>

    <section>
        <h2>Контактная информация</h2>
        <p>📍 <strong>Адрес:</strong> г. Шахты</p>
        <p>📞 <strong>Телефон:</strong> +7 (918) 547-47-10</p>
        <p>🟢 <strong>Avito:</strong>
            <a href="https://www.avito.ru/brands/81589c66ac706e2b4f838890e21f084f/all/predlozheniya_uslug?src=sharing&utm_medium=soc_sharing&utm_source=vk&utm_campaign=native&utm_content=vk&utm_term=native&sellerId=d65586dd6058bec8dbae39d2c2c333af"
               target="_blank"
               class="contact-link">
                Перейти к предложениям
            </a>
        </p>
        <p>🌐 <strong>Время работы:</strong> Без выходных 9:00–21:00</p>
    </section>
{% endblock %}