{% extends 'base.html' %}
{% load static %}

{% block title %}Работы | ProChipRnD{% endblock %}

{% block content %}
    <section>
        <h1>Наши работы</h1>
        <p>Ниже представлены некоторые из наших последних проектов.</p>
    </section>

    <div class="portfolio-grid">
        {% for project in projects %}
            <!-- Ссылка без подчёркивания -->
            <a href="{% url 'portfolio_detail' project_id=forloop.counter %}" class="portfolio-item-link" style="text-decoration: none;">
                <div class="portfolio-item">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.subtitle }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}